<!-- 1 -->
<table border="1">
    <thead>
      <tr>
        <th>Roll No</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{stud1.S_rollno()}}</td>
        <td>{{stud1.S_name()}}</td>
      </tr>
      <tr>
        <td>{{stud2.S_rollno()}}</td>
        <td>{{stud2.S_name()}}x</td>
      </tr>
      <tr>
        <td>{{stud3.S_rollno()}}</td>
        <td>{{stud3.S_name()}}</td>
      </tr>
    </tbody>
  </table>

<!-- 2 -->

<hr/>

<h4>{{ parfectnumber.isParfect() }}</h4>

<!-- 3 -->

<hr/>
<h4>{{Rect1.area()}}</h4>

<!-- 4 -->
<hr/>
<table border="2">
    <thead>
      <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Processor</th>
          <th>Ram</th>
          <th>HardDrive</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{laptop1.NameD()}}</td>
        <td>{{laptop1.PriceD()}}</td>
        <td>{{laptop1.ProcessorD()}}</td>
        <td>{{laptop1.RamD()}}</td>
        <td>{{laptop1.HardDriveD()}}</td>
      </tr>
  
      <tr>
        <td>{{laptop2.NameD()}}</td>
        <td>{{laptop2.PriceD()}}</td>
        <td>{{laptop2.ProcessorD()}}</td>
        <td>{{laptop2.RamD()}}</td>
        <td>{{laptop2.HardDriveD()}}</td>
      </tr>
    </tbody>
  </table>

  <!-- 5 -->

  <hr/>
<h4>1.{{java.skills()}}</h4>
<h4>2.{{php.skills()}}</h4>

<!-- 6 -->

<hr/>

<table border="2">
  <thead>
    <tr>
        <th>Engine</th>
        <th>Tyre</th>
        <th>SoundSystem</th>
        <th>color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{Car.Enginedata()}}</td>
      <td>{{Car.Tyredata()}}</td>
      <td>{{Car.SoundSystemdata()}}</td>
      <td>{{Car.clrdata()}}</td>
    </tr>
  </tbody>
</table>
