<div class="text-center">
  <p [ngStyle]="changestyle()">
      1. Tell yourself there is nothing to fear except fear itself.
]                Fear of punishment or rejection is why most people hesitate to ask for what they want.
      They are afraid that going out on an emotional limb will result in humiliation if they fail.
      Strategy: Before making your request, take plenty of time to remind yourself of the importance of what you are asking for.
      Tell yourself the only thing that matters is whether or not you are making good and well-articulated points.
      By focusing on the merits of your request, not on how you will appear to others, many of your initial fears will fade away.
  </p>
  <label>Text Color :</label>&nbsp;<input type="color" [(ngModel)]="tclr">&nbsp;
  <label>Background Color :</label>&nbsp;<input type="color" [(ngModel)]="bclr">
  <br/>
  <input type="text" class="form-control" placeholder="Font Family" [(ngModel)]="ff">
  <input type="text" class="form-control" placeholder="Font Style" [(ngModel)]="fs">
  
</div>