<div id="wrapper">
  <!-- Navigation -->
<nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Modern</a>
        </div>
       
       
 
 
 
 
 
 
 
   <form class="navbar-form navbar-right">
           <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
   </form>
       
   
   <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <!-- Angular Stuff -->
                <li>
                    <a routerLink=""><i class="fa fa-dashboard fa-fw nav_icon"></i>Angular Stuff</a>
                </li>
                
                <!-- TypeScript example -->
                
                <li>
                    <a href=""><i class="fa fa-laptop nav_icon"></i>TypeScript<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <!-- <li>

                            <a routerLink="Eventbinding"><i class="fa fa-laptop nav_icon"></i>Class & Interface<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a routerLink="Eventbinding">First</a>
                                </li>
                            </ul>
                        </li> -->
                    
                        <li>
                            <a routerLink="enum">enum</a>
                        </li>
                    
                        <li>
                            <a routerLink="Stringopration">String Operation</a>
                        </li>
                    
                        <li>
                            <a routerLink="Array">Array</a>
                        </li>
                    
                        <li>
                            <a routerLink="Interest">Interest</a>
                        </li>
                    
                        <li>
                            <a routerLink="Fibbonaci">Fibbonaci</a>
                        </li>
                    
                        <li>
                            <a routerLink="Prime">Prime Number</a>
                        </li>
                    
                    
                        <li>
                            <a routerLink="Armstrong">Armstrong Number</a>
                        </li>
                    
                        <li>
                            <a routerLink="Palindrome">Palindrome Number</a>
                        </li>
                    
                        <li>
                            <a routerLink="Oddeven">Odd-Even</a>
                        </li>
                    
                        <li>
                            <a routerLink="Switchcase">Switch-case</a>
                        </li>
                        
                        <li>
                                <a routerLink="Class">Class</a>
                        </li>

                        <li>
                                <a routerLink="Interface">Interface</a>
                        </li>
                    </ul>
                </li>

                <!-- ng example -->

                <li>
                    <a href=""><i class="fa fa-laptop nav_icon"></i>ng Example<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a routerLink="Ngclass">ngClass</a>
                        </li>
                        
                        <li>
                            <a routerLink="Ngstyle">ngStyle</a>
                        </li>
                        
                        <li>
                            <a routerLink="Ngif">ngIf</a>
                        </li>
                        
                        <li>
                            <a routerLink="Ngfor">ngFor</a>
                        </li>
                        
                        <li>
                            <a routerLink="NgifElse">ngIf-Else</a>
                        </li>

                        <li>
                            <a routerLink="Ngswitch">ngSwitch</a>
                        </li>
                    </ul>
                </li>

                

                <!-- Data Binding-->
                <li>
                    <a href=""><i class="fa fa-laptop nav_icon"></i>Data Binding<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a routerLink="Interpolation">Interpolation</a>
                        </li>
                        <li>
                            <a routerLink="Propertybinding">Property Binding</a>
                        </li>
                        <li>
                            <a routerLink="Classbinding">Class Binding</a>
                        </li>
                        <li>
                            <a routerLink="Stylebinding">Style Binding</a>
                        </li>
                        <li>
                            <a routerLink="Eventbinding">Event Binding</a>
                        </li>
                        <li>
                            <a routerLink="Trv">Template Reffernce Variable</a>
                        </li>
                        <li>
                            <a routerLink="Twowaybinding">Two Way Binding</a>
                        </li>
                    </ul>
                </li>
                
                
                <!-- Angular Forms -->
                <li>
                    <a href=""><i class="fa fa-laptop nav_icon"></i>Forms<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a routerLink="TamplateDriven">Tamplate Driven</a>
                        </li>
                        <li>
                            <a routerLink="Reactive">Reactive</a>
                        </li>

                    </ul>
                </li>

                <!-- Structural Directive -->
                <li>
                    <a routerLink="StructuralDirective"><i class="fa fa-laptop nav_icon"></i>StructuralDirective</a>
                </li>

                <!-- component interaction -->
                <li>
                    <a routerLink="Child"><i class="fa fa-laptop nav_icon"></i>Component Interaction</a>
                </li>

                <!-- DI and Services -->
                <li>
                    <a routerLink="EmployeeList"><i class="fa fa-laptop nav_icon"></i>DI and Services</a>
                </li>
            </ul>
        </div>
             <!-- /.sidebar-collapse -->
   </div>
   
   <!-- /.navbar-static-side -->
</nav>
     
   
    <div id="page-wrapper">
        <div class="col-md-12 graphs">    
            <router-outlet></router-outlet>
            <div class="copy_layout">
                 <p>Copyright © 2015 Modern. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">Hiren Panchal</a> </p>
            </div> 
        </div>
    </div>
   <!-- /#page-wrapper -->



</div>
 <!-- /#wrapper -->
