<div class="jumbotron text-center">
    <div class="row">
          <!-- class="rounded-circle"  class="img-thumbnail" class="rounded" -->
          <img src="./assets/youeconomymainimage.jpg" [ngClass]="img" alt="Cinque Terre" width="304" height="236">
          <br/>
          <br/>
          <button (click)="imgtype1()" class="btn btn-dark">Rounded</button>&nbsp;
          <button (click)="imgtype2()" class="btn btn-dark">Circle</button>&nbsp;
          <button (click)="imgtype3()" class="btn btn-dark">Thumbnail</button>
    </div>
</div>