<h3 class="text-primary">Use of Switch-case</h3>
<br/>
<label class="text-danger">First Value</label>
<input type="text" class="form-control" [(ngModel)]="first" name="first value">
<br/>
<label class="text-danger">Second Value</label>
<input type="text" class="form-control" [(ngModel)]="second" name="second value">
<br/>
<input type="text" class="form-control" #a [(ngModel)]="sc" name="Switch-case" placeholder="Enter   + , - , * , /"> 
<br/>
<h4 class="text-success">{{SwitchCase(a.value)}}</h4>